<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thunderhou.component.module.main">
    <application>
        <!--在自己组件中注册Activity-->
        <activity android:name=".ui.MainActivity"/>
        <activity android:name=".ui.OtherActivity"/>
    </application>
</manifest>
